<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student generator</title>
</head>
<body>
    <h1>Student generator</h1>
    <form>
        <label for="firstName">First name:</label>
        <input type="text" id="firstName"/>

        <label for="lastName">Last name:</label>
        <input type="text" id="lastName"/>

        <label for="age">Age:</label>
        <input type="text" id="age"/>

        <label for="email">Email:</label>
        <input type="text" id="email"/>

        <input type="submit" id="btnSave" value="Save"/>
    </form>
    <script src="../src/studentGenerator.js"></script>
</body>
</html>