body {
  font-family: sans-serif;
}

main {
  display: flex;
}

section {
  width: 50%;
  padding: 10px;
}

section:nth-of-type(1) {
  max-width: 400px;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid black;
  min-width: 100px;
}

.form-group {
  display: grid;
}

.controls {
  margin: 10px 0;
}
