<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <h1>Reminder app</h1>
    
        <label for="title">Title</label>
        <input type="text" id="title"/>
    
        <label for="priority">Priority</label>
        <input type="text" id="priority"/>
    
        <label for="color">Color</label>
        <input type="color" id="color"/>
    
        <label for="description">Description</label>
        <textarea id="description"></textarea>
    
        <input type="button" id="btnAdd" value="Add"/>
    
        <input type="submit" id="showAll" value="Show all"/>
    </form>
    
    <div id="result"></div>

    <script src="../src/reminder.js"></script>
</body>
</html>