#pages .page {
    display: none;
    text-align: center;
}

#pages .page:first-child {
    display: block;
}

body {
    background-image: url("img/background1.png");
	background-repeat: repeat-x;
}

.table {
    background-color: rgba(255, 255, 255, 0.6);
}